.search__input {
  width: calc(100% - 2px);
  font-size: 16px;
  line-height: 22px;
  padding: 21px 192px 21px 24px;
  border-radius: 100px;
  background: #FFFFFF;
  caret-color: #2F71E5;
  border: none;
  border: 1px solid #D1D2D6;
  backdrop-filter: blur(8px);
}

.search__input::placeholder {
  color: #B6BCBF;
}

@media screen and (max-width: 880px) {
  .search__input {
    padding: 17px 192px 17px 24px;
  }
}