@import url(./__color/button__color.css);
@import url(./__size/button__size.css);

.button {
  border: none;
  cursor: pointer;
  font-weight: 500;
  font-size: 18px;
  line-height: 24px;
  transition-duration: 0.2s;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}
