.page {
  color: #1A1B22;
  padding: 0 104px;
  margin: 0 auto;
  font-family: 'Roboto', 'Arial', 'sans-serif';
  font-weight: normal;
  font-size: 18px;
  line-height: 24px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;

  position: relative;
}