.footer__links {
  list-style: none;
  padding: 0;
  display: grid;
  grid-template-columns: 1fr 80px;
  width: auto;
  grid-column-gap: 40px;
  justify-content: flex-end;
  align-items: center;
}

@media screen and (max-width: 880px) {
  .footer__links {
    grid-column-gap: 26px;
  }
}

@media screen and (max-width: 740px) {
  .footer__links {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (max-width: 400px) {
  .footer__links {
    align-items: flex-start;
  }
}
