.footer__links {
  margin: 0 auto;
  list-style: none;
  padding: 0;
  display: grid;
  grid-template-columns: repeat(2, 0.1fr);
  grid-column-gap: 40px;
  justify-content: flex-end
}

@media screen and (max-width: 880px) {
  .footer__links {
    grid-column-gap: 12px;
  }
}