.footer__links {
  display: flex;
  align-items: center;
}

@media screen and (max-width: 767px) {
  .footer__links {
    width: 100%;
    justify-content: space-between;
    margin-bottom: 36px;
  }
}

@media screen and (max-width: 440px) {
  .footer__links {
    margin-bottom: 18px;
    align-items: flex-start;
  }
}

