@import url(./_black/header__item_black.css);
@import url(./_white/header__item_white.css);

.header__item {
  margin-left: 10px;
  font-weight: 500;
  line-height: 24px;
  padding: 12px;
  text-decoration: none;
  position: relative;
}

.header__item::after {
  content: "";
  width: calc(100% - 24px);
  height: 3px;
  position: absolute;
  bottom: -12px;
  left: 50%;
  transform: translate(-50%);
  transition-duration: .2s;
  opacity: 0;
}

.header__item:hover::after {
  opacity: 1;
}

.header__item:focus::after {
  opacity: 1;
}

@media screen and (max-width: 880px) {
  .header__item {
    padding: 2px;
    font-size: 16px;
  }
  .header__item:hover::after {
    width: calc(100% - 4px);
    bottom: -16px;
  }
  .header__item:focus::after {
    width: calc(100% - 4px);
    bottom: -16px;
  }
}

@media screen and (max-width: 600px) {
  .header__item {
    margin: 0 auto 24px 0;
    font-size: 18px;
    color: #fff;
  }
  .header__item:hover::after {
    bottom: -4px;
  }
  .header__item:focus::after {
    bottom: -4px;
  }
}
