.footer__navigation-links {
  display: flex;
  justify-content: flex-end;
}

@media screen and (max-width: 780px) {
  .footer__navigation-links {
    justify-content: flex-start;
  }
  .footer__navigation-links:nth-of-type(0) {
    margin-left: 0;
    padding-left: 0;
  }
}

@media screen and (max-width: 400px) {
  .footer__navigation-links {
    flex-direction: column;
  }
}

