@import url(./__container/articles__container.css);
@import url(./__link/articles__link.css);
@import url(./__item/articles__item.css);
@import url(./__button/articles__button.css);
@import url(./__icon/articles__icon.css);
@import url(./__message/articles__message.css);
@import url(./__image/articles__image.css);
@import url(./__date/articles__date.css);
@import url(./__title/articles__title.css);
@import url(./__text/articles__text.css);
@import url(./__source/articles__source.css);
@import url(./__button-more/articles__button-more.css);

.articles {
  padding: 28px 0 40px;
  position: relative;
}

.articles::before {
  content: "";
  width: calc(100% + 208px);
  height: 100%;
  background-color: #F5F6F7;
  position: absolute;
  top: 0;
  left: -104px;
  z-index: -1;
}
