.header__button_logout {
  position: relative;
}

.header__button_logout::after {
  content: "";
  background-image: url(../../../../images/logout.svg);
  background-repeat: no-repeat;
  position: absolute;
  width: 18px;
  height: 16px;
  top: 50%;
  right: 0;
  transform: translate(-50%, -50%);
}
