.header__button_logout {
  position: relative;
  padding-right: 48px;
}

.header__button_logout::after {
  content: "";
  background-image: url(../../../../images/logout.svg);
  background-repeat: no-repeat;
  position: absolute;
  width: 18px;
  height: 16px;
  top: 50%;
  right: 0;
  transform: translate(-100%, -50%);
}

@media screen and (max-width: 880px) {
  .header__button_logout {
    padding-right: 44px;
  }
}