.header__navigation {
  display: flex;
  align-items: center;
}

@media screen and (max-width: 600px) {
  .header__navigation {
    position: fixed;
    width: 100%;
    min-height: 286px;
    flex-direction: column;
    justify-content: flex-end;
    top: 0;
    left: 50%;
    transform: translate(-50%, 0);
    background-color: #1A1B22;
    z-index: -1;
    padding: 86px 16px 8px;
    display: none;
  }

  .header__navigation.header__navigation_active {
    display: flex;
  }
}