.search__form {
  position: relative;
  max-width: 608px;
  width: 100%;
  margin: 0 auto 79px;
}

@media screen and (max-width: 880px) {
  .search__form  {
    max-width: 448px;
    margin-bottom: 47px;
  }
}

@media screen and (max-width: 460px) {
  .search__form  {
    margin-bottom: 30px;
  }
}


