.search__button {
  background: #2F71E5;
  color: #fff;
  padding: 21px 54px;
  box-shadow: 0px 5px 15px rgba(14, 26, 57, 0.2);
  border-radius: 100px;
  position: absolute;
  top: 0;
  right: 0;
}

.search__button:hover {
  background: #347EFF;
}

.search__button:active {
  background: #2A65CC;
}