.footer__link {
  padding: 4px;
  margin: 13px;
  text-decoration: none;
  color: #1A1B22;
  display: flex;
  align-items: center;
  position: relative;
}

.footer__link:last-of-type {
  margin-right: 0;
}

.footer__link:hover::after {
  content: "";
  width: calc(100% - 8px);
  height: 3px;
  background-color: #1A1B22;
  position: absolute;
  bottom: -4px;
  left: 50%;
  transform: translate(-50%);
  animation: border .25s ease-in-out;
}
