@import url(./_m/button__size_m.css);
@import url(./_s/button__size_s.css);

.button__size {
  width: 100%;
  min-height: 64px;
  padding: 16px;
}

@media screen and (max-width: 880px) {
  .button__size {
    min-height: 56px;
  }
}
