
@import url(./__title/search__title.css);
@import url(./__subtitle/search__subtitle.css);
@import url(./__form/search__form.css);
@import url(./__input/search__input.css);
@import url(./__button/search__button.css);

.search {
  position: relative;
  min-height: 576px;
  height: 100%;
  display: flex;
  align-items: center;
}

.search::before {
  content: "";
  position: absolute;
  background-image: url(../../images/backgroud.jpg);
  background-repeat: no-repeat;
  background-position: top center;
  background-size: cover;
  top: 0;
  left: -104px;
  width: calc(100% + 208px);
  height: 100%;
  z-index: -1;
}