@import url(./__copyright/footer__copyright.css);
@import url(./__navigation/footer__navigation.css);
@import url(./__links/footer__links.css);
@import url(./__navigation-links/footer__navigation-links.css);
@import url(./__social-links/footer__social-links.css);
@import url(./__link/footer__link.css);
@import url(./__social-icon/footer__social-icon.css);

.footer {
  min-height: 82px;
  display: grid;
  grid-template-columns: 300px 1fr;
  grid-column-gap: 20px;
  align-items: center;
  justify-content: space-between;
}

@media screen and (max-width: 768px) {
  .footer {
    min-height: 64px;
  }
}

@media screen and (max-width: 740px) {
  .footer {
    grid-template-columns: 1fr;
    grid-row-gap: 40px;
  }
}