.popup__content {
  width: 430px;
  min-height: 182px;
  background-color: #fff;
  border-radius: 16px;
  position: relative;
  box-sizing: border-box;
  padding: 34px 36px;
}

@media screen and (max-width: 540px) {
  .popup__content {
    width: calc(100% - 110px);
  }
}

@media screen and (max-width: 460px) {
  .popup__content {
    margin-top: 114px;
    width: 100%;
    height: 100%;
    padding: 16px;
  }
}
