.error {
    font-size: 12px;
    line-height: 15px;
    color: #FF0000;
    display: block;
    margin: 3px 0px;
    box-sizing: border-box;
    height: 24px;
  }

  .error_center {
    margin: 0;
    display: flex;
    align-items: flex-end;
    justify-content: center;
  }