.background_grey {
}

.background_grey::before {
  content: "";
  width: calc(100% + 208px);
  height: 100%;
  position: absolute;
  top: 0;
  left: -104px;
  z-index: -1;
  background-color: #F5F6F7;
}