.articles__container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 16px;
  padding: 40px 0;
}

@media screen and (max-width: 880px) {
  .articles__container {
    padding: 16px 0;
    grid-gap: 8px;
  }
}
