.search__subtitle {
  color: #fff;
  max-width: 585px;
  margin: 0 0 63px;
  text-align: left;
}

@media screen and (max-width: 880px) {
  .search__subtitle {
    max-width: 452px;
    margin: 0 0 47px;
  }
}

@media screen and (max-width: 460px) {
  .search__subtitle {
    margin: 0 0 112px;
  }
}

