@import url(./_attach/articles__button_attach.css);
@import url(./_not-registered/articles__button_not-registered.css);

.articles__button {
  width: 40px;
  height: 40px;
  padding: 0;
  position: absolute;
  transition-duration: 0.25s;
  top: 0;
  right: 0;
  margin: 24px;
  border: none;
  background-color: #fff;
  border-radius: 8px;
  cursor: pointer;
}
