@import url(./_white/header__menu-icon_white.css);
@import url(./_black/header__menu-icon_black.css);

.header__menu-icon {
  width: 16px;
  height: 12px;
  display: none;
  position: relative;
}

.header__menu-icon::before {
  content: "";
  width: 16px;
  height: 2px;
  position: absolute;
  top: 0;
  left: 0;
  right: 10px;
  transition: top .1s linear, transform .1s linear .1s;
}

.header__menu-icon::after {
  content: "";
  width: 16px;
  height: 2px;
  position: absolute;
  top: 8px;
  left: 0;
  right: 10px;
  transition: top .1s linear, transform .1s linear .1s;
}

@media screen and (max-width: 600px) {
  .header__menu-icon {
    display: block;
  }

  .header__menu-icon.header__menu-icon_active:before {
    transform: rotate(45deg);
    top: 4px;
    transition: top .1s linear, transform .1s linear .1s;
    background-color: #fff;
  }
  .header__menu-icon.header__menu-icon_active::after {
    transform: rotate(-45deg);
    top: 4px;
    transition: top .1s linear, transform .1s linear .1s;
    background-color: #fff;
  }
}