@import url(./_white/header_white.css);
@import url(./_black/header_black.css);
@import url(./__content/header__content.css);
@import url(./__menu-icon/header__menu-icon.css);
@import url(./__navigation/header__navigation.css);
@import url(./__item/header__item.css);
@import url(./__button/header__button.css);
@import url(./__icon/header__icon.css);

.header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  min-height: 100%;
  background-color: transparent;
  display: flex;
  justify-content: center;
  padding: 0 104px;
}

.header::after {
  content: "";
  height: 1px;
  width: 100%;
  position: absolute;
  top: 79px;
  left: 0;
  z-index: 2;
}

@media screen and (max-width: 1000px) {
  .header {
    padding-left: 40px;
    padding-right: 40px;
  }
}

@media screen and (max-width: 880px) {
  .header::after {
    top: 65px;
  }
}

@media screen and (max-width: 740px) {
  .header {
    padding-left: 16px;
    padding-right: 16px;
  }
}

@media screen and (max-width: 600px) {
  .header::after  {
    display: none;
  }
}

