@import url(./__content/header__content.css);
@import url(./__navigation/header__navigation.css);
@import url(./__item/header__item.css);
@import url(./__button/header__button.css);

.header {
  width: 100%;
  min-height: 80px;
  padding: 19px 104px 12px;
  position: absolute;
  left: 0;
  top: 0;
  border-bottom: 1px solid rgba(196, 196, 196, 0.01);
  box-shadow: inset 0px -1px 0px rgba(255, 255, 255, 0.2);
  z-index: 2;
}

@media screen and (max-width: 1000px) {
  .header {
    padding: 19px 80px 12px;
  }
}

@media screen and (max-width: 880px) {
  .header {
    padding: 14px 40px 8px;
    min-height: 66px;
  }
}

@media screen and (max-width: 780px) {
  .header {
    padding-left: 40px;
    padding-right: 40px;
  }
}

