@import url(./_login/header__button_login.css);
@import url(./_logout/header__button_logout.css);

.header__button {
  background-color: transparent;
  min-height: 48px;
  min-width: 48px;
  margin-left: 20px;
  border-radius: 100px;
  padding-top: 12px;
  padding-bottom: 12px;
  padding-left: 16px;
  color: #fff;
  font-weight: 500;
  border: 1px solid #fff;
  cursor: pointer;
  transition-duration: .2s;
}

@media screen and (max-width: 880px) {
  .header__button {
    font-size: 16px;
    min-height: 40px;
    min-width: 40px;
    margin-left: 14px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 14px;
  }
}

@media screen and (max-width: 400px) {
  .header__button {
    margin: 16px;
    width: 100%;
    padding-top: 16px;
    padding-bottom: 16px;
  }
}

